:root {
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    --clr-primary-a0: #fc5d08;
    --clr-primary-a10: #ff722e;
    --clr-primary-a20: #ff8549;
    --clr-primary-a30: #ff9762;
    --clr-primary-a40: #ffa97b;
    --clr-primary-a50: #ffba95;

    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    --clr-surface-tonal-a0: #281a14;
    --clr-surface-tonal-a10: #3d2f29;
    --clr-surface-tonal-a20: #534540;
    --clr-surface-tonal-a30: #695d58;
    --clr-surface-tonal-a40: #817672;
    --clr-surface-tonal-a50: #99908c;

    /* Map to Bootstrap colors */
    --bs-body-bg: var(--clr-surface-a0);
    --bs-body-color: var(--clr-light-a0);
    --bs-primary: var(--clr-primary-a0);
    --bs-secondary: var(--clr-surface-a30);
    --bs-dark: var(--clr-dark-a0);
    --bs-light: var(--clr-light-a0);
}


/* Buttons */
.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    color: var(--bs-light) !important;
}

.btn-primary:hover {
    background-color: var(--clr-primary-a10) !important;
    border-color: var(--clr-primary-a10) !important;
}


/* Cards */
.card {
    background-color: var(--bs-body-bg) !important;
    border-color: var(--bs-primary) !important;
}


/* Navbar */
.navbar {
    background-color: var(--bs-body-bg) !important;
    border-bottom: 1px solid var(--bs-light) !important;
}

.navbar .nav-link {
    color: var(--bs-light) !important;
}

.navbar .nav-link:hover {
    color: var(--bs-primary) !important;
}


/* Forms */
.form-control {
    background-color: var(--clr-surface-a0) !important;
    border-color: var(--clr-light-a0) !important;
    color: var(--bs-light) !important;
}

.form-control:focus,
.form-check-input:focus {
    border-color: var(--bs-light) !important;
    box-shadow: none !important;
}

.form-check-input:checked {
    border-color: var(--bs-primary) !important;
    background-color: var(--bs-primary) !important;
}


/* Accordion */
.accordion-item,
.accordion-button {
    border-color: var(--clr-surface-a10) !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--clr-surface-a0) !important;
    color: var(--clr-light-a0) !important;
}

.accordion-button:focus {
    box-shadow: none;
    border: none;
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem 1.5rem;
}


/* Social Icons */
.large-icon {
    font-size: 5rem;
}

.large-image {
    width: 5rem !important;
    /* Same as font-size of icons */
    height: 5rem !important;
    max-width: 5rem !important;
}

.large-image-container {
    width: 182px;
    height: 120px;

}


.orange {
    color: var(--bs-primary);
}

#side-nav .nav-link {
    border-bottom: 1px solid var(--clr-surface-a10);
    padding: 10px 0;
}

#side-nav {
    position: sticky;
    top: 100px;
    /* Adjust this value based on your navbar height */
    height: fit-content;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}


.table th,
.table td {
    color: var(--bs-light) !important;
}

/* Footer */
footer a {
    transition: color 0.3s;
}

footer a:hover {
    color: var(--bs-primary) !important;
}